<div class="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto list-unstyled navbar-left">
        <li class="nav-item">
          <a class="nav-link" href="www.facebook.com/TheMcKittrickHotel/" target="blank"><img src="https://wantoo.io/static/landingpage/img/icon_facebook.svg" alt="facebook" class='icon'></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="twitter.com/sleepnomorenyc?lang=en" target="blank"><img src="http://downloadicons.net/sites/default/files/twitter-icon-62318.png" alt="twitter" class='icon'></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="www.pinterest.com/explore/sleep-no-more/" target="blank"><img src="https://images.vexels.com/media/users/3/131766/isolated/preview/94f495f92a4b9aa1e7714db80856358e-pinterest-flat-icon-by-vexels.png" alt="pinterest" class='icon'></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="www.instagram.com/sleepnomorenyc/?hl=en" target="blank"><img src="http://www.tayyabs.co.uk/img/instagram.png" alt="instagram" class='icon'></a>
        </li>
      </ul>
      <h2 class="nav navbar-nav navbar-center" id='title'>5th Wall Productions</h2>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="">Home</a></li>

        <li><a routerLink="actors">Actors</a></li>
        <li><a routerLink="artistic-team">Artistic Team</a></li>
      </ul>

    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <a class="text-muted footLinks" routerLink="about">About</a>
  <a class="text-muted footLinks" routerLink="admin">Admin</a>
  <a class="text-muted footLinks" routerLink="contact">Contact</a>
</footer>
