<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Executive Director -- Jerry Bruckheimer</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="./jerry.jpg" alt="Jerry Bruckheimer" class='headshot'>
      </div>
      <div class="col-md-8">
        <p class='bio'>Jerry Bruckheimer was born on September 21, 1945, in Detroit, Michigan. Coming out of advertising, Bruckheimer has become a powerful film and television producer. His hit films include American Gigolo, Top Gun, Black Hawk Down and Armageddon. He is also known for his realistic television series, notably CSI: Crime Scene Investigation. In the early 2000s, Bruckheimer had 10 of his shows airing simultaneously.</p>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Artistic Director/ Producer -- Hal Prince</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="./hal.jpg" alt="Hal Prince" class='headshot'>
      </div>
      <div class="col-md-8">
        <p class='bio'>Harold Prince (born Jan. 30, 1928, New York, N.Y., U.S.), American theatrical producer and director who from the 1960s was recognized as one of the most creative and innovative figures on Broadway.<br><br>
        In 1963, with She Loves Me, he also began directing musical productions. Among musicals for which he was producer, coproducer, or director are Damn Yankees (1955), West Side Story (1957), Fiorello! (1959), A Funny Thing Happened on the Way to the Forum (1962), Fiddler on the Roof (1964), Cabaret (1966), Zorba (1968), Company (1970), Follies (1971), A Little Night Music (1973), Pacific Overtures (1976), Sweeney Todd (1979), Evita (1980), The Phantom of the Opera (1988), Kiss of the Spider Woman (1993), Parade (1998), and LoveMusik (2007).<br><br>
        Prince received directorial Antoinette Perry (Tony) awards for Cabaret, Company, Follies, Sweeney Todd, Evita, and The Phantom of the Opera and for the Broadway revival of Show Boat in 1994. In 2006 he also won a Tony Award for lifetime achievement.</p>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Choreographer -- Bob Fosse</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="./fosse.jpg" alt="Bob Fosse" class='headshot'>
      </div>
      <div class="col-md-8">
        <p class='bio'>What would Broadway be without Fosse? An American musical theater luminary, Fosse debuted as a Broadway choreographer with 1954’s (Jerome Robbins-directed) “The Pajama Game.” His upbeat, jazzy style has had a pervasive influence on countless 20th and 21st century choreographers, and is easily identified in famous works including the original “Sweet Charity” (1966), “Pippin” (1972), and “Chicago” (1975).</p>
      </div>
    </div>
  </div>
</div>
