<h1>Actor List:</h1>

<div *ngFor="let actor of actors | async" class="panel panel-default" id='actorPanel'>
  <div class='panel-heading'>
    <h3 (click)="goToDetailPage(actor)">{{actor.name}}</h3>
  </div>
  <div class="panel-body">
    <img src={{actor.image}} (click)="goToDetailPage(actor)" class='headshot'>
    <div *ngIf="currentRoute === '/admin'">
      <p>Phone: {{actor.phone}}</p>
      <p>Address: {{actor.address}}</p>
      <p>Email: {{actor.email}}</p>
      <p>Vocal Type: {{actor.range}}</p>
      <app-edit-actor [selectedActor]='actor'></app-edit-actor>
    </div>
  </div>
</div>
